div {
    background-color: rgb(163, 247, 247);
    border: 1px solid black
}

li {
    color: green
}

.heading {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: purple
}

#item1 {
    color: red
}

/* This is how you make a comment in css */
body {
    margin: 0
}

#ptag {
    font-size: 12px;
}